extends layout

block content
  h1= title
  p Welcome to my site. I'm Leo <a href="https://github.com/leoanthonyc" target="_blank">(@leoanthonyc)</a>.
  p I currently work at <a href="https://www.caresharing.com" target="_blank">Caresharing</a> as a backend developer and team lead. I also freelance on the side as a full-stack web developer.
  p I know <a href="https://www.ruby-lang.org/en/downloads/" target="_blank">Ruby</a>, <a href="https://rubyonrails.org" target="_blank">Ruby on Rails</a>, JavaScript. I like the idea of learning new languages and/or frameworks, hence this site (using <a href="https://expressjs.com" target="_blank">Express</a>).
