h1 04/10/2022 02:55
p Express is really clean! It is a blank slate and provides me a lot of options on how to do things. I'm storing all my notes in the `public/notes` folder. If you can read this note, it means I made it work!
p Update: It did not work! I have to move  my notes from `public/notes` into `views/notes`. I manually registered the `notes/1` path inside `routes/index.js`, it should have its own route file under `routes/notes.js`. I should also find a way to automatically display the links of available notes in `/notes` page. 

